In [20]:
import pandas as pd
import numpy as np
import re

url = 'https://raw.githubusercontent.com/Treamyracle/AITF/refs/heads/main/%233/cleaning_dataset.csv'
df = pd.read_csv(url)

df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [21]:
def clean_column_names(df_input):
    cleaned_columns = []
    for col in df_input.columns:
        col = col.lower()
        col = re.sub(r'[^a-z0-9]+', '_', col)
        col = col.strip('_')
        cleaned_columns.append(col)

    df_input.columns = cleaned_columns
    return df_input

df = clean_column_names(df)
df_cleaned = df
df

,rank,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,year_s,shows,average_gross,ref
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [22]:
def clean_currency(value):
    if isinstance(value, str):
        value = re.sub(r'[\$,]', '', value)
        value = re.sub(r'\[.*?\]', '', value)
        return pd.to_numeric(value, errors='coerce')
    return value

currency_cols = ['actual_gross', 'adjusted_gross_in_2022_dollars', 'average_gross']
for col in currency_cols:
    df_cleaned[col] = df_cleaned[col].apply(clean_currency)

def clean_peak_column(value):
    if isinstance(value, str):
        match = re.match(r'(\d+)', value)
        if match:
            return int(match.group(1))
    return pd.to_numeric(value, errors='coerce')

df_cleaned['all_time_peak'] = df_cleaned['all_time_peak'].apply(clean_peak_column)

df_cleaned['tour_title'] = df_cleaned['tour_title'].str.replace(r'[†‡*]', '', regex=True).str.strip()

df_cleaned

,rank,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,year_s,shows,average_gross,ref
0,1,1,2.0,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,13928571,[1]
1,2,1,7.0,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1[4],2.0,411000000,560622615,Madonna,Sticky & Sweet Tour [4][a],2008–2009,85,4835294,[6]
3,4,2[7],10.0,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2[4],NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,2[4],10.0,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]
6,7,2[10],NaN,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,[11]
7,7,NaN,NaN,257600000,257600000,Pink,Summer Carnival,2023–2024,41,6282927,[12]
8,9,NaN,NaN,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,[13]
9,10,NaN,NaN,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,[14]
10,11,NaN,NaN,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606,[15][16]
11,12,NaN,14.0,227400000,295301479,Lady Gaga,The Monster Ball Tour,2009–2011,203,1118227,[18]
12,13,NaN,NaN,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,[19]
13,14,1[20],NaN,200000000,299676265,Cher,Living Proof: The Farewell Tour [21][a],2002–2005,325,615385,[20]
14,15,2[c],NaN,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,[5]
15,16,NaN,NaN,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,[22]
16,17,NaN,NaN,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,[d]
17,18,NaN,NaN,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,[4]
18,19,NaN,NaN,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,[25]
19,20,NaN,NaN,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,[26]

In [23]:
def clean_ranking_column(value):
    if isinstance(value, str):
        match = re.match(r'(\d+)', value)
        if match:
            return int(match.group(1))
    return pd.to_numeric(value, errors='coerce')

for col in ['peak', 'all_time_peak']:
    df_cleaned[col] = df_cleaned[col].apply(clean_ranking_column)

df_cleaned

,rank,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,year_s,shows,average_gross,ref
0,1,1.0,2.0,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,13928571,[1]
1,2,1.0,7.0,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3]
2,3,1.0,2.0,411000000,560622615,Madonna,Sticky & Sweet Tour [4][a],2008–2009,85,4835294,[6]
3,4,2.0,10.0,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,[7]
4,5,2.0,NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8]
5,6,2.0,10.0,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,[9]
6,7,2.0,NaN,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,[11]
7,7,NaN,NaN,257600000,257600000,Pink,Summer Carnival,2023–2024,41,6282927,[12]
8,9,NaN,NaN,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,[13]
9,10,NaN,NaN,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,[14]
10,11,NaN,NaN,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606,[15][16]
11,12,NaN,14.0,227400000,295301479,Lady Gaga,The Monster Ball Tour,2009–2011,203,1118227,[18]
12,13,NaN,NaN,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,[19]
13,14,1.0,NaN,200000000,299676265,Cher,Living Proof: The Farewell Tour [21][a],2002–2005,325,615385,[20]
14,15,2.0,NaN,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,[5]
15,16,NaN,NaN,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,[22]
16,17,NaN,NaN,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,[d]
17,18,NaN,NaN,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,[4]
18,19,NaN,NaN,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,[25]
19,20,NaN,NaN,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,[26]

In [24]:
df_cleaned.drop(columns=['ref'], inplace=True)

for col in ['peak', 'all_time_peak']:
    median_val = df_cleaned[col].median()
    df_cleaned[col].fillna(median_val, inplace=True)

for col in currency_cols:
    mean_val = df_cleaned[col].mean()
    df_cleaned[col].fillna(mean_val, inplace=True)

df_cleaned

/tmp/ipython-input-2250649152.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(median_val, inplace=True)
/tmp/ipython-input-2250649152.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[col].fillna(mean_val, inplace=True)

,rank,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,year_s,shows,average_gross
0,1,1.0,2.0,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,13928571
1,2,1.0,7.0,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571
2,3,1.0,2.0,411000000,560622615,Madonna,Sticky & Sweet Tour [4][a],2008–2009,85,4835294
3,4,2.0,10.0,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795
4,5,2.0,8.5,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173
5,6,2.0,10.0,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709
6,7,2.0,8.5,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405
7,7,2.0,8.5,257600000,257600000,Pink,Summer Carnival,2023–2024,41,6282927
8,9,2.0,8.5,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215
9,10,2.0,8.5,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882
10,11,2.0,8.5,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606
11,12,2.0,14.0,227400000,295301479,Lady Gaga,The Monster Ball Tour,2009–2011,203,1118227
12,13,2.0,8.5,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993
13,14,1.0,8.5,200000000,299676265,Cher,Living Proof: The Farewell Tour [21][a],2002–2005,325,615385
14,15,2.0,8.5,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333
15,16,2.0,8.5,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775
16,17,2.0,8.5,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694
17,18,2.0,8.5,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732
18,19,2.0,8.5,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,1385950
19,20,2.0,8.5,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186